@use "sass:color";
@import "./quasar.variables.scss";

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: $secondary;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 5px;

    &:hover {
        background: color.adjust($primary, $lightness: -10%);
    }
}

::-webkit-scrollbar-thumb:active {
    background: color.adjust($primary, $lightness: -20%);
}

::-webkit-scrollbar-corner {
    background: $dark;
}
